{% extends 'main/base_main.html' %}
{% load static %}
{% block title %}Про комунальний навчальний заклад Київської обласної ради Васильківський професійний ліцей{% endblock %}
{% block description %}
<meta name="description" content="Заклад професійної (професійно-технічної) освіти другого атестаційного рівня, забезпечує реалізацію права громадян на здобуття професійної (професійно-технічної) освіти та повної загальної середньої освіти">
{% endblock %}
{% block content %}
<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'main/images/bg_1.jpg' %});">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <h1 class="mb-2 bread">Про ліцей</h1>
        <p class="breadcrumbs"><span class="mr-2"><a href="home">Головна <i class="ion-ios-arrow-forward"></i></a></span> <span>Про ліцей <i class="ion-ios-arrow-forward"></i></span></p>
      </div>
    </div>
  </div>
</section>


<section class="ftco-section">
  <div class="container-fluid px-4">
    <div class="row">

      <div class="col-lg-3 sidebar ftco-animate">
<!--
        <div class="sidebar-box ftco-animate">
          <h3>Рубрики</h3>
          <ul class="categories">
            {% for rubric in rubrics %}
            <li><a href="/rubric/{{ rubric.pk }}">{{ rubric.name }} <span>{{ rubric.article__count }}</span></a></li>
            {% endfor %}
          </ul>
        </div> -->

  {% for sidebarnavmenu in navmenus %}
        <div class="sidebar-box ftco-animate py-0 my-0">
          {% if sidebarnavmenu.menu_content.pk > 0 %}
          <a href="/menu/{{ sidebarnavmenu.menu_content.pk }}">{{ sidebarnavmenu.title }}</a>

          {% elif sidebarnavmenu.is_url_active == True %}
           <a href="/menu/{{ sidebarnavmenu.navmenu_url }}">{{ sidebarnavmenu.title }}</a>
          {% elif sidebarnavmenu.is_file_active == True %}
           <a href="/media/{{ sidebarnavmenu.file_menu }}" target="_blank">{{ sidebarnavmenu.title }}</a>
          {% else %}
          <h3 class="py-0 my-0">{{ sidebarnavmenu.title }}</h3>
          {% endif %}
          <ul class="py-0 my-0">
            {% for nchilds in sidebarnavmenu.navchild.all %}
            {% if nchilds.child_content.pk > 0 %}
            <li><a href="/menu/ch/{{ nchilds.child_content.pk }}">{{ nchilds.title }}</a></li>
              {% elif nchilds.is_url_active == True %}
                <li><a href="/menu/ch/{{ nchilds.navchild_url }}">{{ nchilds.title }}</a></li>
              {% elif nchilds.is_file_active  == True %}
                <li><a href="/media/{{ nchilds.file }}" target="_blank">{{ nchilds.title }}</a></li>
              {% else %}
                <li>{{ nchilds.title }}</li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
        <hr>
  {% endfor %}
      </div><!-- END COL -->

      <div class="col-lg-6 ftco-animate">
{% for cont in content %}

<p>
  {{ cont.title }}
  </p>

{% endfor %}

      </div> <!-- .col-md-8 -->

                    <div class="col-lg-3 sidebar ftco-animate">
                      <div class="sidebar-box ftco-animate">
                        <h3>Рубрики</h3>
                        <ul class="categories">
                          {% for rubric in rubrics %}
                          <li><a href="/rubric/{{ rubric.pk }}">{{ rubric.name }} <span>{{ rubric.article__count }}</span></a></li>
                          {% endfor %}
                        </ul>
                      </div>


              </section>
              {% endblock %}
              {% block futer %}
              {% for last2 in last_2_articles %}
              {% include 'main/includes/base_foter_template.html' %}
              {% endfor %}
              {% endblock %}
