{% extends 'main/base_main.html' %}
{% load static %}

{% block title %}Про комунальний навчальний заклад Київської обласної ради Васильківський професійний ліцей{% endblock %}
{% block description %}
    <meta name="description" content="Заклад професійної (професійно-технічної) освіти другого атестаційного рівня, забезпечує реалізацію права громадян на здобуття професійної (професійно-технічної) освіти та повної загальної середньої освіти">
{% endblock %}

{% block content %}

<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'main/images/bg_1.jpg' %});">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <h1 class="mb-2 bread">Про ліцей</h1>
        <p class="breadcrumbs"><span class="mr-2"><a href="home">Головна <i class="ion-ios-arrow-forward"></i></a></span> <span>Про ліцей <i class="ion-ios-arrow-forward"></i></span></p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 ftco-animate">
        <p>Комунальний навчальний заклад Київської обласної ради «Васильківський професійний ліцей» (скорочене найменування – КНЗ КОР «Васильківський професійний ліцей»)
          – є закладом професійної (професійно-технічної) освіти другого атестаційного рівня,
          що забезпечує реалізацію права громадян на здобуття професійної (професійно-технічної) освіти та повної загальної середньої освіти.</p>
          <p>
            <img src="{% static 'main/images/about-2_3.jpg' %}" alt="" class="img-fluid">
          </p>
          <p>Заклад освіти був створений у 1962 році. Засновником ліцею є Київська обласна рада. Безпосередньо ліцей підпорядкований департаменту освіти і науки Київської обласної державної адміністрації.</p>
          <h4>КОРОТКА ІСТОРІЯ:</h4>
          <p>1962-1997 роки – Васильківська загальноосвітня школа-інтернат.</p>
          <p>1997-2009 роки – Васильківське професійно-технічне училище для дітей-сиріт і дітей, які залишилися без піклування батьків.</p>
          <p>2009-2015 роки – Комунальний заклад Київської обласної ради «Васильківський професійний ліцей».</p>
          <p>з 2015 року – Комунальний навчальний заклад Київської обласної ради «Васильківський професійний ліцей».</p>
          <p>На сьогоднішній день це один з найкращих закладів професійної (професійно-технічної) освіти Київської області з сучасною матеріально-технічною базою, який забезпечує навчання за 29 ліцензованими професіями на основі базової загальної середньої освіти (9 класів) та повної загальної середньої освіти (11 класів), з них:</p>
          <ul>
            <li>18 професій первинної професійної підготовки</li>
            <li>11 професій професійно-технічного навчання (курсова підготовка)</li>
          </ul>
          <p>Ліцей здійснює підготовку професіоналів для таких галузей економіки, як:</p>
          <ul>
            <li>сфера побутового та ресторанного обслуговування</li>
            <li>сфера послуг</li>
            <li>сфера ІТ-технологій</li>
            <li>банківська справа</li>
            <li>легка промисловість</li>
            <li>автомобільний транспорт</li>
            <li>будівництво та інші</li>
          </ul>
          <p>У рамках реалізації концепції «Освіта впродовж життя» ліцей надає освітні послуги для громадян, які бажають підвищити свій рівень професійної майстерності та мати перспективи кар’єрного зростання, а саме:</p>
          <ul>
            <li>короткострокову курсову підготовку незайнятого населення за направленням державної служби зайнятості</li>
            <li>перепідготовку та підвищення кваліфікації робітників за угодами з підприємствами, установами, організаціями, окремими фізичними та юридичними особами</li>
          </ul>
          <p>Для реалізації цих задач створено сучасне освітнє середовище, навчально-виробничі майстерні, лабораторії, в тому числі:</p>
          <ul>
            <li>Інформаційно-ресурсний центр</li>
            <li>Навчально-практичний центр сфери обслуговування</li>
            <li>Навчально-практичний центр швейного виробництва</li>
          </ul>
          <p>Ліцеї розбудовує базу власного виробництва з виготовлення товарів та надання послуг населенню. Заклад освіти має власний «Салон краси», міні-готель, модернізовану їдальню з зонуванням простором на зону кафе-бару, зону їдальні та зону ресторану, де здобувачі освіти отримують професійні вміння та навички.</p>
          <p>Стратегічною метою ліцею є створення багатопрофільного регіонального закладу нового типу для виконання наступних завдань:</p>
          <ul>
            <li>Задоволення потреб ринку праці регіону у кваліфікованих робітничих кадрах за найбільш затребуваними професіями
              <li>Надання здобувачам освіти професійних навичок і життєвих компетенцій для успішної соціальної інтеграції в суспільстві
                <li>Надання доступної освіти для соціально-незахищених верств населення (дітей-сиріт, дітей з малозабезпечених та багатодітних сімей, дітей з неповних сімей)
                  <li>Впровадження інклюзивної освіти для дітей з особливими освітніми потребами
                    <li>Підготовка висококваліфікованих робітників європейського рівня
                      <li>Забезпечення ефективного функціонування ліцею в умовах ринкової економіки
                      </ul>
                    </div> <!-- .col-md-8 -->

                    <div class="col-lg-4 sidebar ftco-animate">
                      <div class="sidebar-box">
                        <form action="#" class="search-form">
                          <div class="form-group">
                            <span class="icon icon-search"></span>
                            <input type="text" class="form-control" placeholder="шукати...">
                          </div>
                        </form>
                      </div>

                      <div class="sidebar-box ftco-animate">
                        <h3>Рубрики</h3>
                        <ul class="categories">
                          {% for rubric in rubrics %}
                          <li><a href="/rubric/{{ rubric.pk }}">{{ rubric.name }} <span>{{ rubric.article__count }}</span></a></li>
                          {% endfor %}
                        </ul>
                      </div>

                      <div class="sidebar-box ftco-animate">
                        <h3>Останні новини</h3>
                        {% for last3 in last_3_articles %}
                        <div class="block-21 mb-4 d-flex">
                          <a class="blog-img mr-4" style="background-image: url(/media/{{ last3.image }});"></a>
                          <div class="text">
                            <h3 class="heading"><a href="{% url 'article_detail' pk=last3.pk %}">{{ last3.title }}</a></h3>
                            <div class="meta">
                              <div><a href="#"><span class="icon-calendar"></span> {{ last3.published_date|date:"d.m.Y" }}</a></div>
                              <div><a href="#"><span class="icon-person"></span> {{ last3.author }}</a></div>
                            </div>
                          </div>
                        </div>
                        {% endfor %}

                      </div>

                      <div class="sidebar-box ftco-animate">
                        <h3>Tag Cloud</h3>
                        <ul class="tagcloud m-0 p-0">
                          {% for tag in tags %}
                          <a href="#" class="tag-cloud-link">{{ tag.title }}</a>
                          {% endfor %}
                        </ul>
                      </div>

                      <div class="sidebar-box ftco-animate">
                        <h3>Васильківський професійний ліцей</h3>
                        <p>Сьогодні це сучасний заклад професійної (професійно-технічної) освіти, який здійснює підготовку кваліфікованих робітників за найбільш затребуваними на ринку праці інтегрованими професіями</p>
                      </div>
                    </div><!-- END COL -->
                  </div>
                </div>
              </section>

{% endblock %}
{% block futer %}
{% for last2 in last_2_articles %}
{% include 'main/includes/base_foter_template.html' %}
{% endfor %}
{% endblock %}
