{% extends 'main/base_main.html' %}
{% load static %}
{% block title %}Контакти КНЗ КОР Васильківський професійний ліцей{% endblock %}
{% block description %}
<meta name="description" content="Контакти Комунального навчального закладу Київської обласної ради Васильківський професійний ліцей, офіційна адреса, телефон">
{% endblock %}
{% block content %}
<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'main/images/bg_1.jpg' %});">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <h1 class="mb-2 bread">Контакти</h1>
        <p class="breadcrumbs"><span class="mr-2"><a href="/">Головна <i class="ion-ios-arrow-forward"></i></a></span> <span>Контакти <i class="ion-ios-arrow-forward"></i></span></p>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section contact-section">
  <div class="container">
    <div class="row d-flex contact-info">
      <div class="col-md-3 d-flex">
        <div class="bg-light align-self-stretch box p-4 text-center">
          <h3 class="mb-4">Адреса</h3>
          <p>вул. Декабристів, 39, м. Васильків, Київська обл., 08600</p>
        </div>
      </div>
      <div class="col-md-3 d-flex">
        <div class="bg-light align-self-stretch box p-4 text-center">
          <h3 class="mb-4">Телефон</h3>
          <p><a href="tel://0457122543">04571 22543</a></p>
          <p><a href="tel://+380509433140">050 943 31 40</a></p>
          <p><a href="tel://+380985694742">098 569 47 42</a></p>
        </div>
      </div>
      <div class="col-md-3 d-flex">
        <div class="bg-light align-self-stretch box p-4 text-center">
          <h3 class="mb-4">Email</h3>
          <p>vasylkiv_licej[at]ukr.net</p>
        </div>
      </div>
      <div class="col-md-3 d-flex">
        <div class="bg-light align-self-stretch box p-4 text-center">
          <h3 class="mb-4">Вебсайт</h3>
          <p><a href="/">vasylkiv-litsei.com.ua</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section ftco-no-pt ftco-no-pb contact-section">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-12 d-flex">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2554.4909003203766!2d30.308509615721995!3d50.18935437944029!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4bb01293b141f%3A0x77116f0d967184ec!2z0JrQndCXINCa0J7QoCAi0JLQsNGB0LjQu9GM0LrRltCy0YHRjNC60LjQuSDQn9GA0L7RhNC10YHRltC50L3QuNC5INCb0ZbRhtC10Lki!5e0!3m2!1sru!2sua!4v1577474329116!5m2!1sru!2sua" width="1109" height="567" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block futer %}
{% for last2 in last_2_articles %}
{% include 'main/includes/base_foter_template.html' %}
{% endfor %}
{% endblock %}
