{% extends 'main/base_main.html' %}
{% load static %}
{% block description %}
<meta name="description" content="Cучасний заклад професійної (професійно-технічної) освіти, який здійснює підготовку кваліфікованих робітників за найбільш затребуваними на ринку праці інтегрованими професіями">
{% endblock %}
{% block content %}
<section class="home-slider owl-carousel">
  <div class="slider-item" style="background-image:url({% static 'main/images/bg_15.jpg' %});">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
        <div class="col-md-6 ftco-animate">
          <h1 class="mb-4">ВАСИЛЬКІВСЬКИЙ ПРОФЕСІЙНИЙ ЛІЦЕЙ</h1>
          <p>КОМУНАЛЬНИЙ НАВЧАЛЬНИЙ ЗАКЛАД КИЇВСЬКОЇ ОБЛАСНОЇ РАДИ </p>
          <p><a href="/about" class="btn btn-primary px-4 py-3 mt-3">Дізнатися більше</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="slider-item" style="background-image:url({% static 'main/images/bg_11.jpg' %});">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
        <div class="col-md-6 ftco-animate">
          <p>ТВОЯ ПРОФЕСІЯ - ДОРОГА В СТАБІЛЬНЕ МАЙБУТНЄ</p>
          <p><a href="/contact" class="btn btn-primary px-4 py-3 mt-3">Контакти</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ftco-services ftco-no-pb">
  <div class="container-wrap">
    <div class="row no-gutters">
      <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-primary">
        <div class="media block-6 d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center">
            <a href="/plans"><span class="flaticon-teacher"></span></a>
          </div>
          <div class="media-body p-2 mt-3">
            <a href="/plans"><h3 class="heading">План роботи на місяць</h3></a>
            <p>КНЗ КОР «ВАСИЛЬКІВСЬКИЙ ПРОФЕСІЙНИЙ ЛІЦЕЙ»</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-darken">
        <div class="media block-6 d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center">
            <a href="#malva"><span><img src="{% static 'main/images/sew.png' %}" alt="" class="img-fluid"></span></a>
          </div>
          <div class="media-body p-2 mt-3">
            <a href="/shveynyy-dim-malvy"><h3 class="heading">Вас вітає Швейний дім «Мальви»</h3></a>
            <p>Усі секрети візуальних переваг та реалізація Ваших ідей!</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-primary">
        <div class="media block-6 d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center">
            <a href="/library"><span class="flaticon-books"></span></a>
          </div>
          <div class="media-body p-2 mt-3">
            <a href="/library"><h3 class="heading">Е-БІБЛІОТЕКА</h3></a>
            <p>Електронна бібліотека КНЗ КОР «Васильківський професійний ліцей»</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-darken">
        <div class="media block-6 d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center">
            <a href="#oholoshennya"><span class="flaticon-diploma"></span></a>
          </div>
          <div class="media-body p-2 mt-3">
            <a href="#oholoshennya"><h3 class="heading">Оголошення</h3></a>
            <p>КНЗ КОР «ВАСИЛЬКІВСЬКИЙ ПРОФЕСІЙНИЙ ЛІЦЕЙ»</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-2">
      <div class="col-md-8 text-center heading-section ftco-animate">
        <h2 class="mb-4"><span>Останні</span> новини</h2>
        <p></p>
      </div>
    </div>
    <div class="row">
      {% for article in articles %}
      <div class="col-md-6 col-lg-4 ftco-animate">
        <div class="blog-entry">
          {% if article.is_image_default == True %}
          <a href="{% url 'article_detail' pk=article.pk %}" class="block-20 d-flex align-items-end" style="background-image: url({% static 'main/images/news_image.jpg)' %};">
            {% else %}
            <a href="{% url 'article_detail' pk=article.pk %}" class="block-20 d-flex align-items-end" style="background-image: url(media/{{ article.image }});">
              {% endif %}
              <div class="meta-date text-center p-2">
                <span class="day">{{ article.published_date|date:"d" }}</span>
                <span class="mos">{{ article.published_date|date:"m" }}</span>
                <span class="yr">{{ article.published_date|date:"Y" }}</span>
              </div>
            </a>
            <div class="text bg-white p-4">
              <h5 class="heading"><a href="{% url 'article_detail' pk=article.pk %}">{{ article.title }}</a></h5>
              {% if article.is_video_news == True %}
              <p></p>
              {% else %}
              <p>{% autoescape off %}{{article.article_text|truncatewords:10}}{% endautoescape %}</p>
              {% endif %}
              <div class="d-flex align-items-center mt-4">
                <p class="mb-0"><a href="{% url 'article_detail' pk=article.pk %}" class="btn btn-primary">Читати далі  <span class="ion-ios-arrow-round-forward"></span></a></p>
                <p class="ml-auto mb-0">
                  <a href="#" class="mr-2">{{ article.author }}</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        <div class="container">
          <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
              <h3 class="mb-4"><a href="/news"><span>всі</span> новини...</a></h3>
            </div>
          </div>
        </div>
        <div class="col-lg-4 sidebar ftco-animate">
          <div class="sidebar-box ftco-animate">
            <h3>Рубрики</h3>
            <ul class="categories">
              {% for rubric in rubrics %}
              <li><a href="/rubric/{{ rubric.pk }}">{{ rubric.name }} <span>{{ rubric.article__count }}</span></a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url({% static 'main/images/bg_3.jpg' %});" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-2 d-flex">
        <div class="col-md-6 align-items-stretch d-flex">
          <div class="img img-video d-flex align-items-center" style="background-image: url({% static 'main/images/about-2_3.jpg' %});">
          </div>
        </div>
        <div class="col-md-6 heading-section heading-section-white ftco-animate pl-lg-5 pt-md-0 pt-5">
          <h2 class="mb-4">Васильківський професійний ліцей</h2>
          <p>Сьогодні це сучасний заклад професійної (професійно-технічної) освіти, який здійснює підготовку кваліфікованих робітників за найбільш затребуваними на ринку праці інтегрованими професіями.</p>
          <p>Навчання в ліцеї безкоштовне, учні отримують щомісячну стипендію, харчування, всі бажаючі забезпечуються на період навчання гуртожитком.</p>
        </div>
      </div>
      <div class="row d-md-flex align-items-center justify-content-center">
        <div class="col-lg-12">
          <div class="row d-md-flex align-items-center">
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
              <div class="block-18">
                <div class="icon"><span class="flaticon-doctor"></span></div>
                <div class="text">
                  <strong class="number" data-number="18">0</strong>
                  <span>сучасних професій</span>
                </div>
              </div>
            </div>
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
              <div class="block-18">
                <div class="icon"><span class="flaticon-doctor"></span></div>
                <div class="text">
                  <strong class="number" data-number="330">0</strong>
                  <span>здобувачів освіти</span>
                </div>
              </div>
            </div>
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
              <div class="block-18">
                <div class="icon"><span class="flaticon-doctor"></span></div>
                <div class="text">
                  <strong class="number" data-number="15">0</strong>
                  <span>видів економічної діяльності - КВЕД</span>
                </div>
              </div>
            </div>
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
              <div class="block-18">
                <div class="icon"><span class="flaticon-doctor"></span></div>
                <div class="text">
                  <strong class="number" data-number="58">0</strong>
                  <span>років успішної діяльності</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="ftco-section ftco-no-pt ftc-no-pb">
    <div class="container">
      <p><a name="oholoshennya"></a></p>
      <div class="row d-flex">
        <div class="col-md-5 order-md-last wrap-about wrap-about d-flex align-items-stretch">
          <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-interval="3000">
                <img src="{% static 'main/images/oholoshennya-1.jpg' %}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-interval="3000">
                <img src="{% static 'main/images/oholoshennya-2.jpg' %}" class="d-block w-100" alt="...">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
          <h2 class="mb-4">Оголошення:</h2>
          <a href="{% static 'main/images/oholoshennya-1.jpg' %}" target="_blank"><p>Васильківський професійний ліцей запрошує усіх бажаючих на День відкритих дверей 19 березня 2020 року о 12.00 год</p></a>
          <a href="{% static 'main/images/oholoshennya-2.jpg' %}" target="_blank"><p>20 березня 2020 року о 10.00 год на базі КНЗ КОР "Васильківський професійний ліцей" спільно з Васильківським центром зайнятості відбудеться Ярмарок вакансій.</p></a>
        </div>
      </div>
    </div>
  </section>
  <section class="ftco-section ftco-no-pt ftc-no-pb" id="section-counter" style="background-image: url({% static 'main/images/malva-bg.JPG' %});" data-stellar-background-ratio="0">
    <div class="container">
      <div class="row d-flex">

        <div class="col-md-5 wrap-about wrap-about d-flex align-items-stretch">
          <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-interval="15000">
                <img src="{% static 'main/images/malva.jpg' %}" class="d-block w-100" alt="...">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-7 order-md-last heading-section heading-section-white ftco-animate pl-lg-5 pt-md-0 pt-5">
          <h2 class="mb-4">Вас вітає Швейний дім «Мальви»</h2>
          <p>Часто ми не знаємо, на що опиратися при підборі одягу чи оригінального подарунку, який радуватиме близьку людину не один рік. А, можливо, Ви вже давно мрієте про надзвичайну сукню, але ще не змогли втілити свою фантазію у життя? Майстрині нашого швейного дому знають усі секрети візуальних переваг та допоможуть Вам у реалізації Ваших ідей!</p>
          <p><a href="/shveynyy-dim-malvy" class="btn btn-primary px-4 py-3 mt-3">Дізнатися більше</a></p>
        </div>
      </div>
    </div>
  </section>
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-2">
        <div class="col-md-8 text-center heading-section ftco-animate">
          <h2 class="mb-4">Корисні просилання</h2>
        </div>
      </div>
      <div class="row ftco-animate justify-content-center">
        <div class="col-md-12">
          <div class="carousel-testimony owl-carousel">
            <div class="item">
              <div class="testimony-wrap d-flex">
                <div class="card" style="width: 12rem;">
                  <a href="https://mon.gov.ua/ua" target="_blank"><img src="{% static 'main/images/logo-mon.png' %}" class="card-img-top" alt="..."></a>
                </div>
                <div class="text ml-2">
                  <p></p>
                  <p class="name"><a href="https://mon.gov.ua/ua">Міністерство освіти і науки України.</a></p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap d-flex">
                <div class="card" style="width: 12rem;">
                  <a href="http://kyiv-obl.gov.ua/" target="_blank"><img src="{% static 'main/images/logo-kyiv-obl.JPG' %}" class="card-img-top" alt="..."></a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap d-flex">
                <div class="card" style="width: 12rem;">
                  <a href="https://www.kyiv-oblosvita.gov.ua/" target="_blank"><img src="{% static 'main/images/logo-kyiv-oblosvita.png' %}" class="card-img-top" alt="..."></a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap d-flex">
                <div class="card" style="width: 12rem;">
                  <a href="https://www.kristti.com.ua/" target="_blank"><img src="{% static 'main/images/logo-kristti.jpg' %}" class="card-img-top" alt="..."></a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap d-flex">
                <div class="card" style="width: 12rem;">
                  <a href="http://oblpto.in.ua/" target="_blank"><img src="{% static 'main/images/logo-oblpto.jpg' %}" class="card-img-top" alt="..."></a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap d-flex">
                <div class="card" style="width: 12rem;">
                  <a href="https://pedpresa.ua/" target="_blank"><img src="{% static 'main/images/logo-pedpresa.png' %}" class="card-img-top" alt="..."></a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap d-flex">
                <div class="card" style="width: 12rem;">
                  <a href="https://ivet.edu.ua/" target="_blank"><img src="{% static 'main/images/logo-ivet.png' %}" class="card-img-top" alt="..."></a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap d-flex">
                <div class="card" style="width: 12rem;">
                  <a href="http://testportal.gov.ua/" target="_blank"><img src="{% static 'main/images/logo-testportal.png' %}" class="card-img-top" alt="..."></a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap d-flex">
                <div class="card" style="width: 12rem;">
                  <a href="https://kyivtest.org.ua/" target="_blank"><img src="{% static 'main/images/logo-kyivtest.png' %}" class="card-img-top" alt="..."></a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap d-flex">
                <div class="card" style="width: 12rem;">
                  <a href="https://www.kyiv-oblosvita.gov.ua/index.php?option=com_content&view=category&id=102" target="_blank"><img src="{% static 'main/images/logo-patriot.jpg' %}" class="card-img-top" alt="..."></a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap d-flex">
                <div class="card" style="width: 12rem;">
                  <a href="https://www.kyiv-oblosvita.gov.ua/index.php?option=com_content&view=category&layout=blog&id=33&Itemid=173" target="_blank"><img src="{% static 'main/images/logo-dovidnyk.jpg' %}" class="card-img-top" alt="..."></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="ftco-section">
    <div class="container-fluid px-4">
      <div class="row">
        {% for tc in training_center %}
        <div class="col-md-3 course ftco-animate">
          <div class="img" style="background-image: url(media/{{ tc.image }});"></div>
          <div class="text pt-4">
            <h3><a href="/trainingcenter/{{ tc.pk }}">{{ tc.title }}</a></h3>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% endblock %}
  {% block futer %}
  {% for last2 in last_2_articles %}
  {% include 'main/includes/base_foter_template.html' %}
  {% endfor %}
  {% endblock %}
