{% extends 'main/base_main.html' %}
{% load static %}


{% block title %}Новини{% endblock %}

{% block content %}

<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'main/images/bg_1.jpg' %});">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <h1 class="mb-2 bread">Новини</h1>
        <p class="breadcrumbs"><span class="mr-2"><a href="/home">Головна <i class="ion-ios-arrow-forward"></i></a></span> <span>Новини <i class="ion-ios-arrow-forward"></i></span></p>
      </div>
    </div>
  </div>
</section>

    <section class="ftco-section">

			<div class="container-fluid px-4">

				<div class="row">
{% for article in articles_paginator %}
					<div class="col-md-3 course ftco-animate">
						<div class="img" style="background-image: url(/media/{{ article.image }});"></div>
						<div class="text pt-4">
							<p class="meta d-flex">
								<span><i class="icon-user mr-2"></i>{{ article.author }}</span>
								<span><i class="icon-table mr-2"></i></span>
								<span><i class="icon-calendar mr-2"></i>{{ article.published_date|date:"d.m.Y" }}</span>
							</p>
							<h6><a href="{% url 'article_detail' pk=article.pk %}">{{ article.title|truncatewords:12 }}</a></h6>

						<!--	<p><a href="{% url 'article_detail' pk=article.pk %}" class="btn btn-primary">Далі...</a></p>-->
						</div>
					</div>
{% endfor %}



				</div>

			</div>
		</section>

    <section class="ftco-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
    <div class="pagination">
        <span class="step-links">
            {% if articles_paginator.has_previous %}
                <a href="?page=1">&laquo; Перша</a>
                <a href="?page={{ articles_paginator.previous_page_number }}">Попередня</a>
            {% endif %}

            <span class="current">
                Сторінка {{ articles_paginator.number }} з {{ articles_paginator.paginator.num_pages }}.
            </span>

            {% if articles_paginator.has_next %}
                <a href="?page={{ articles_paginator.next_page_number }}">Далі</a>
                <a href="?page={{ articles_paginator.paginator.num_pages }}">Остання &raquo;</a>
            {% endif %}
        </span>
    </div>
  </div>
</div>
</section>

    {% endblock %}

    {% block futer %}
    {% for last2 in last_2_articles %}
        {% include 'main/includes/base_foter_template.html' %}
    {% endfor %}
    {% endblock %}
