{% extends 'main/base_main.html' %}
{% load static %}

{% block title %}Новини{% endblock %}

{% block content %}

    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'main/images/bg_1.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Новини</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="/">Головна <i class="ion-ios-arrow-forward"></i></a></span> <span>Новини <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
			<div class="container">
				<div class="row">
          <div class="col-lg-8 ftco-animate">
            <h2 class="mb-3">ІСТОРIЯ ЗАКЛАДУ</h2>
            <p>1962-1997 роки – Васильківська загальноосвітня школа-інтернат; 1997-2009 роки – Васильківське професійно-технічне училище для дітей-сиріт і дітей,
              які залишилися без піклування батьків; з 2009 року – Комунальний заклад Київської обласної ради «Васильківський професійний ліцей».</p>
            <p>
              <img src="{% static 'main/images/about-2_3.jpg' %}" alt="" class="img-fluid">
            </p>
            <p>Історія Комунального закладу Київської обласної ради «Васильківський професійний ліцей» починається з 31 грудня 1962 року, коли в мальовничому куточку м. Василькова, на Київщині, була заснована Васильківська загальноосвітня школа-інтернат, розрахована на 300 вихованців. Колектив школи-інтернату разом з директором Білоусовим Святославом Івановичем був переведений з П’ятигорського дитячого будинку.</p>
            <p>Білоусов Святослав Іванович – перший директор школи-інтернату, очолював заклад 20 років (1962-1982 рр.), кандидат педагогічних наук, Заслужений учитель України, нагороджений знаком «Відмінник народної освіти УРСР» та медаллю А.С. Макаренко, з 1948 — по 1961 рр. директор П’ятигорського дитячого будинку.</p>

            <p>Васильківська загальноосвітня школа-інтернат була побудована за найсучаснішим на той час проектом школи-інтернату, що передбачав створення комфортних умов для навчання і цілодобового перебування дітей та включав цілий комплекс будівель: 3-х-поверховий навчальний корпус, з’єднаний теплим переходом з 4-х-поверховим спальним корпусом, спортивний та актовий зали, бібліотека, велика їдальня. На території школи-інтернату був басейн для оздоровлення дітей, стадіон, спортивний майданчик, господарський корпус, своя котельня та артезіанська свердловина. Школа мала підсобне господарство та фруктовий сад, який посадили працівники разом з дітьми.</p>
            <p>У 1997 році на базі Васильківської загальноосвітньої школи-інтернату було створено Васильківське професійно-технічне училище для дітей-сиріт і дітей, які залишилися без піклування батьків, розпорядженням Київської обласної державної адміністрації від 26.05.1997 № 270 «Про удосконалення мережі закладів освіти обласної комунальної власності». За короткий термін класи школи-інтернату були переобладнані в кабінети та навчально-виробничі майстерні, з сучасним обладнанням і машинами. Все було максимально наближене до виробництва.</p>
            <p>Васильківське ПТУ для дітей-сиріт і дітей, які залишилися без піклування батьків — це єдиний в Україні професійно-технічний навчальний заклад, створений для забезпечення потреб дітей-сиріт та дітей з сімей, що опинилися в складних життєвих обставинах, в отриманні повної загальної середньої освіти та робітничих професій: «Кухар. Офіціант», «Електрозварник ручного зварювання. Водій автотранспортних засобів (категорії «В, С»), «Муляр. Штукатур. Лицювальний-плиточник», «Швачка». В ПТУ навчалися діти з 25 районів Київської області та з інших областей України.</p>

            <p>У 2009 році Васильківське професійно-технічне училище для дітей-сиріт і дітей, які залишилися без піклування батьків реорганізовано в Комунальний заклад Київської обласної ради «Васильківський професійний ліцей», рішенням Київської обласної ради від 23.07.2009 № 523-25-V «Про надання дозволу на реорганізацію та погодження Статуту Комунального закладу Київської обласної ради «Васильківський професійний ліцей».</p>
            <p>З 2009 року заклад відкрив свої двері для всіх випускників загальноосвітніх шкіл, 80 % наших учнів – мешканці м. Василькова та Васильківського району.</p>
            <p>У 2015 році назва закладу була приведена у відповідність до вимог законодавства: Комунальний навчальний заклад Київської обласної ради «Васильківський професійний ліцей».</p>
            <p>Сьогодні це сучасний професійно-технічний навчальний заклад, який здійснює підготовку кваліфікованих робітників за найбільш затребуваними на ринку праці інтегрованими професіями (детальна інформація надана в розділі «Абітурієнтам»):</p>
            <ul>
              <li>Електрозварник ручного зварювання. Водій автотранспортних засобів (категорії «В, С»);</li>
              <li>Кухар. Офіціант;</li>
              <li>Швачка. Вишивальник;</li>
              <li>Швачка. Кравець;</li>
              <li>Муляр. Штукатур.</li>
            </ul>
            <p>Навчання в ліцеї безкоштовне, учні отримують щомісячну стипендію, одноразове харчування – обід, всі бажаючі забезпечуються на період навчання гуртожитком, проживання в гуртожитку безкоштовне.</p>

            <div class="about-author d-flex p-4 bg-light">
              <div class="bio mr-5">
                <img src="{% static 'main/images/postolenko-2.jpg' %}" alt="Image placeholder" class="img-fluid mb-4">
              </div>
              <div class="desc">
                <h3></h3>
                <p>З 2001 року навчальним закладом керує директор Постоленко Людмила Миколаївна, колишня вихованка Васильківської школи-інтернату.</p>
              </div>
            </div>

            <div class="pt-0 mt-3">
              <p>Під її керівництвом заклад по праву набув статусу одного з найкращих закладів України та отримав наступні почесні відзнаки та нагороди:</p>
              <ul>
                <li>Учні ліцею представлені у книзі «Юні таланти України ХХІ століття», видавництва Української конфедерації журналістів, 2009;</li>
                <li>«Я — Київщини гордість і надія», видавництва Київської обласної державної адміністрації, 2011;</li>
                <li>«Флагман сучасної освіти України» за вагомий внесок у розвиток освіти і науки України, 2011;</li>
                <li>занесений в книгу «Кращі роботодавці Київщини», видавництва Київського обласного центру зайнятості за сприянням Київської обласної державної адміністрації, 2012;</li>
                <li>занесений у книгу «Золотий фонд нації», видавництва Української конфедерації журналістів, Українського видавничого консорціуму, 2012;</li>
                <li>занесений у книгу «Національні лідери України», продовжує серію видань «Золотий фонд нації», видавництва Української конфедерації журналістів, Українського видавничого консорціуму, 2012;</li>
                <li>занесений у книгу «Нова епоха», продовжує серію видань «Золотий фонд нації», видавництва Української конфедерації журналістів, Українського видавничого консорціуму, 2015</li>
              </ul>

              <div class="tag-widget post-tag-container mb-5 mt-5">
                <div class="tagcloud">
                  <a href="#" class="tag-cloud-link">Link 1</a>
                  <a href="#" class="tag-cloud-link">Link 1</a>
                  <a href="#" class="tag-cloud-link">Link 1</a>
                  <a href="#" class="tag-cloud-link">Link 1</a>
                </div>
              </div>


            </div>
          </div> <!-- .col-md-8 -->


          <div class="col-lg-4 sidebar ftco-animate">
            <div class="sidebar-box">
              <form action="#" class="search-form">
                <div class="form-group">
                  <span class="icon icon-search"></span>
                  <input type="text" class="form-control" placeholder="шукати...">
                </div>
              </form>
            </div>
            <div class="sidebar-box ftco-animate">
            	<h3>Категорії</h3>
              <ul class="categories">
                <li><a href="#">Art <span>(6)</span></a></li>
                <li><a href="#">Sports <span>(8)</span></a></li>
                <li><a href="#">Language <span>(2)</span></a></li>
                <li><a href="#">Food <span>(2)</span></a></li>
                <li><a href="#">Music <span>(2)</span></a></li>
              </ul>
            </div>

            <div class="sidebar-box ftco-animate">
              <h3>Популярні статті</h3>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url(images/image_1.jpg);"></a>
                <div class="text">
                  <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> June 27, 2019</a></div>
                    <div><a href="#"><span class="icon-person"></span> Dave Lewis</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url(images/image_2.jpg);"></a>
                <div class="text">
                  <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> June 27, 2019</a></div>
                    <div><a href="#"><span class="icon-person"></span> Dave Lewis</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url(images/image_3.jpg);"></a>
                <div class="text">
                  <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> June 27, 2019</a></div>
                    <div><a href="#"><span class="icon-person"></span> Dave Lewis</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="sidebar-box ftco-animate">
              <h3>Tag Cloud</h3>
              <ul class="tagcloud m-0 p-0">
                <a href="#" class="tag-cloud-link">School</a>
                <a href="#" class="tag-cloud-link">Kids</a>
                <a href="#" class="tag-cloud-link">Nursery</a>
                <a href="#" class="tag-cloud-link">Daycare</a>
                <a href="#" class="tag-cloud-link">Care</a>
                <a href="#" class="tag-cloud-link">Kindergarten</a>
                <a href="#" class="tag-cloud-link">Teacher</a>
              </ul>
            </div>

            <div class="sidebar-box ftco-animate">
            	<h3>Архіви</h3>
              <ul class="categories">
              	<li><a href="#">December 2018 <span>(30)</span></a></li>
              	<li><a href="#">Novemmber 2018 <span>(20)</span></a></li>
                <li><a href="#">September 2018 <span>(6)</span></a></li>
                <li><a href="#">August 2018 <span>(8)</span></a></li>
              </ul>
            </div>


            <div class="sidebar-box ftco-animate">
              <h3>Васильківський професійний ліцей</h3>
              <p>Сьогодні це сучасний заклад професійної (професійно-технічної) освіти, який здійснює підготовку кваліфікованих робітників за найбільш затребуваними на ринку праці інтегрованими професіями</p>
            </div>
          </div><!-- END COL -->
        </div>
			</div>
		</section>



<!--
		<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url({% static 'main/images/bg_3.jpg' %});" data-stellar-background-ratio="0.5">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-2 d-flex">
    			<div class="col-md-6 align-items-stretch d-flex">
    				<div class="img img-video d-flex align-items-center" style="background-image: url({% static 'main/images/about-2.jpg' %});">
    					<div class="video justify-content-center">
								<a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
									<span class="ion-ios-play"></span>
		  					</a>
							</div>
    				</div>
    			</div>
          <div class="col-md-6 heading-section heading-section-white ftco-animate pl-lg-5 pt-md-0 pt-5">
            <h2 class="mb-4">Fox University</h2>
            <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
          </div>
        </div>
    		<div class="row d-md-flex align-items-center justify-content-center">
    			<div class="col-lg-12">
    				<div class="row d-md-flex align-items-center">
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		            	<div class="icon"><span class="flaticon-doctor"></span></div>
		              <div class="text">
		                <strong class="number" data-number="18">0</strong>
		                <span>Certified Teachers</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		            	<div class="icon"><span class="flaticon-doctor"></span></div>
		              <div class="text">
		                <strong class="number" data-number="401">0</strong>
		                <span>Students</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		            	<div class="icon"><span class="flaticon-doctor"></span></div>
		              <div class="text">
		                <strong class="number" data-number="30">0</strong>
		                <span>Courses</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		            	<div class="icon"><span class="flaticon-doctor"></span></div>
		              <div class="text">
		                <strong class="number" data-number="50">0</strong>
		                <span>Awards Won</span>
		              </div>
		            </div>
		          </div>
	          </div>
          </div>
        </div>
    	</div>
    </section>


    <section class="ftco-section testimony-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
            <h2 class="mb-4">Student Says About Us</h2>
            <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
          </div>
        </div>
        <div class="row ftco-animate justify-content-center">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel">
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-4" style="background-image: url({% static 'main/images/teacher-1.jpg' %})">
                  </div>
                  <div class="text ml-2">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Racky Henderson</p>
                    <span class="position">Father</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-4" style="background-image: url({% static 'main/images/teacher-2.jpg' %})">
                  </div>
                  <div class="text ml-2">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Henry Dee</p>
                    <span class="position">Mother</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-4" style="background-image: url({% static 'main/images/teacher-3.jpg' %})">
                  </div>
                  <div class="text ml-2">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Mark Huff</p>
                    <span class="position">Mother</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-4" style="background-image: url({% static 'main/images/teacher-4.jpg' %})">
                  </div>
                  <div class="text ml-2">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Rodel Golez</p>
                    <span class="position">Mother</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-4" style="background-image: url({% static 'main/images/teacher-1.jpg' %})">
                  </div>
                  <div class="text ml-2">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Ken Bosh</p>
                    <span class="position">Mother</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
-->

		<section class="ftco-gallery">
    	<div class="container-wrap">
    		<div class="row no-gutters">
					<div class="col-md-3 ftco-animate">
						<a href="{% static 'main/images/image_1.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/course-1.jp' %}g);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="{% static 'main/images/image_2.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/image_2.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="{% static 'main/images/image_3.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/image_3.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="{% static 'main/images/image_4.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/image_4.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
        </div>
    	</div>
    </section>


  {% endblock %}
