{% extends 'main/base_main.html' %}
{% load static %}


{% block title %}Публічна інформація КНЗ КОР Васильківський професійний ліцей{% endblock %}

{% block description %}
    <meta name="description" content="колективний договір між адміністрацією та профспілковим комітетом комунального навчального закладу київської обласної ради «васильківський професійний ліцей»; статут комунального навчального закладу київської обласної ради «васильківський професійний ліцей»">
{% endblock %}

{% block content %}

    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'main/images/bg_1.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Публічна інформація</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="/">Головна <i class="ion-ios-arrow-forward"></i></a></span> <span>Публічна інформація <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>


    <section class="ftco-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
        </div>
        <div class="row">


          <div class="col-md-6 col-lg-4 ftco-animate">

            <div class="blog-entry">
              <a href="#" class="block-20 d-flex align-items-end" style="background-image:url({% static 'main/images/statut.JPG' %});">
                <div class="meta-date text-center p-2">
                  <span class="day"></span>
                  <span class="mos"></span>
                  <span class="yr"></span>
                </div>
              </a>
              <div class="text bg-white p-4">
                <h5 class="heading"><a href="#"></a>Статут</h5>
                <p></p>
                <div class="d-flex align-items-center mt-4">
                  <p class="mb-0"><a href="{% static 'main/images/statut.pdf' %}" class="btn btn-primary">Завантажити  <span class="ion-ios-arrow-round-forward"></span></a></p>
                  <p class="ml-auto mb-0">
                    <a href="#" class="mr-2"></a>

                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 ftco-animate">

            <div class="blog-entry">
              <a href="#" class="block-20 d-flex align-items-end" style="background-image:url({% static 'main/images/collective_dogovir.JPG' %});">
                <div class="meta-date text-center p-2">
                  <span class="day"></span>
                  <span class="mos"></span>
                  <span class="yr"></span>
                </div>
              </a>
              <div class="text bg-white p-4">
                <h5 class="heading"><a href="#"></a>Колективний договір</h5>
                <p></p>
                <div class="d-flex align-items-center mt-4">
                  <p class="mb-0"><a href="{% static 'main/images/collective_dogovir_2019_2023.pdf' %}" class="btn btn-primary">Завантажити  <span class="ion-ios-arrow-round-forward"></span></a></p>
                  <p class="ml-auto mb-0">
                    <a href="#" class="mr-2"></a>

                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 ftco-animate">

            <div class="blog-entry">
              <a href="#" class="block-20 d-flex align-items-end" style="background-image:">
                <div class="meta-date text-center p-2">
                  <span class="day"></span>
                  <span class="mos"></span>
                  <span class="yr"></span>
                </div>
              </a>
              <div class="text bg-white p-4">
                <h5 class="heading"><a href="#"></a>Публічні закупівлі</h5>
                <p></p>
                <div class="d-flex align-items-center mt-4">
                  <p class="mb-0"><a href="#" class="btn btn-primary">Перейти  <span class="ion-ios-arrow-round-forward"></span></a></p>
                  <p class="ml-auto mb-0">
                    <a href="#" class="mr-2"></a>

                  </p>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </section>





{% endblock %}

{% block futer %}
{% for last2 in last_2_articles %}
    {% include 'main/includes/base_foter_template.html' %}
{% endfor %}
{% endblock %}
