{% extends 'main/base_main.html' %}
{% load static %}
{% block title %}Швейний дім «Мальви» КНЗ КОР «Васильківський професійний ліцей»{% endblock %}
{% block description %}
<meta name="description" content="Підбір одягу чи оригінального подарунку, надзвичайна сукня, майстрині нашого швейного дому знають усі секрети візуальних переваг та допоможуть Вам у реалізації Ваших ідей">
{% endblock %}
{% block content %}
<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'main/images/bg_1.jpg' %});">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <h1 class="mb-2 bread">Швейний дім «Мальви»</h1>
        <p class="breadcrumbs"><span class="mr-2"><a href="/">Головна <i class="ion-ios-arrow-forward"></i></a></span> <span>Швейний дім «Мальви» <i class="ion-ios-arrow-forward"></i></span></p>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 ftco-animate">
        <h2 class="mb-3">Вас вітає Швейний дім «Мальви»</h2>

  <p>Майстрині нашого Швейного Дому надають клієнтам повний комплекс послуг:</p>
  <p>✔ <strong>Ремонт та підгонка одягу по фігурі клієнта.</strong><br />
  Ви хочете вирішити проблему з одягом, який раптом став тісним або, навпаки, широким? Команда наших професіоналів знає, як Вам допомогти!</p>
  <p>✔ <strong>Індивідуальне виготовлення легкого жіночого, чоловічого та дитячого одягу.</strong><br />
  Допоможемо підібрати фасон, тканину та колір, який личитиме саме Вам!</p>
  <p>✔ <strong>Виготовлення вишиванок та вишитих суконь.</strong><br />
  Змоделюємо стильний фасон, створимо Ваш унікальний дизайн вишивки. Наші професіонали спроможні підкреслити індивідуальність Вашого стилю!</p>
  <p>✔ <strong>Пошив жіночих пальт.</strong><br />
  Наша профільна послуга. Зробимо ескіз пальто, про яке Ви давно мрієте. Підберемо тканину будь-якого, бажаного Вами, відтінку та фурнітуру, яка пасуватиме саме до Вашого фасону. Виготовимо його за Вашою фігурою. Носіть із задоволенням!</p>
  <p>✔<strong> Виготовлення домашнього текстилю.</strong><br />
  Постільна білизна, столові комплекти, простирадла, подарункові комплекти, з вишивкою, чи без неї. Створимо стильну річ, яка стане прекрасним подарунком!</p>
  <p>Унікальні технології пошиття і високий рівень професіоналізму майстрів, які працюють в нашому Швейному Домі, дозволяють створювати бездоганні вироби самого цікавого дизайну. У нас є все необхідне технологічне оснащення (в тому числі і професійна вишивальна машина) для втілення Ваших бажань!</p>

        <div class="pt-0 mt-3">
        </div>
      </div> <!-- .col-md-8 -->
      <div class="col-lg-4 sidebar ftco-animate">
        <div class="sidebar-box ftco-animate">
          <h3>Рубрики</h3>
          <ul class="categories">
            {% for rubric in rubrics %}
            <li><a href="/rubric/{{ rubric.pk }}">{{ rubric.name }} <span>{{ rubric.article__count }}</span></a></li>
            {% endfor %}
          </ul>
        </div>
      </div><!-- END COL -->
    </div>
  </div>
</section>
<section class="ftco-gallery">
  <div class="container-wrap">
    <div class="row no-gutters">

      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-01.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-01.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>

      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-02.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-02.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>

      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-03.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-03.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>

      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-04.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-04.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>

      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-05.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-05.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>

      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-06.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-06.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>

      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-07.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-07.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>

      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-08.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-08.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>

      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-09.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-09.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>

      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-010.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-010.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>

      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-011.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-011.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>

      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-012.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-012.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>

      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-013.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-013.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>

      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-014.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-014.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>

      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-015.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-015.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>

      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-016.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-016.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>

      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-017.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-017.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>

      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-018.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-018.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>

      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-019.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-019.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>

      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-020.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-020.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>

      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-021.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-021.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>

      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-022.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-022.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>

      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-023.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-023.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>

      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-024.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-024.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>

      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-025.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-025.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>

      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-026.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-026.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>

      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-027.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-027.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>

      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-028.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-028.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>

      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-029.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-029.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>

      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-030.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-030.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>

      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-031.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-031.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>

      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-032.jpeg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-032.jpeg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>

      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-033.jpeg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-033.jpeg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>

      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-034.jpeg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-034.jpeg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>

      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-035.jpeg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-035.jpeg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>

      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-036.jpeg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-036.jpeg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>

      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-037.jpeg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-037.jpeg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>

      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-038.jpeg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-038.jpeg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>

      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-039.jpeg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-039.jpeg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>

      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-040.jpeg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-040.jpeg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>


      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-1.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-1.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>

      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-2.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-2.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>
      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-3.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-3.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>
      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-4.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-4.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>
      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-5.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-5.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>
      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-6.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-6.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>
      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-7.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-7.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>
      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-8.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-8.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>
      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-9.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-9.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>
      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-10.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-10.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>
      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-11.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-11.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>
      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-12.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-12.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>
      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-13.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-13.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>
      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-14.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-14.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>
      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-15.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-15.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>
      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-16.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-16.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>
      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-17.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-17.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>
      <div class="col-md-3 ftco-animate">
        <a href="{% static 'main/images/malva-18.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'main/images/malva-18.jpg' %});">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block futer %}
{% for last2 in last_2_articles %}
{% include 'main/includes/base_foter_template.html' %}
{% endfor %}
{% endblock %}
