{% extends 'main/base_main.html' %}
{% load static %}


{% block title %}Структура навчального року Васильківського професійного ліцею{% endblock %}

{% block description %}
    <meta name="description" content="СТРУКТУРА 2019-2020 навчального року Комунального навчального закладу Київської обласної ради Васильківський професійний ліцей">
{% endblock %}

{% block content %}

    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'main/images/bg_1.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Структура навчального року</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="/">Головна <i class="ion-ios-arrow-forward"></i></a></span> <span>Структура навчального року<i class="ion-ios-arrow-forward">/i></span></p>
          </div>
        </div>
      </div>
    </section>


    <section class="ftco-section">
			<div class="container">
				<div class="row">
          <div class="col-lg-8 ftco-animate">



            <div class="card">
              <div class="card-body">
                <h5></h5>
                <p>СТРУКТУРА 2019/2020 навчального року Комунального навчального закладу Київської обласної ради «Васильківський професійний ліцей»</p>
                <p><a href="/static/main/files/Структура_НР_2019-2020.doc" class="badge badge-warning">ЗАВАНТАЖИТИ</a></p>
              </div>
            </div>

          </div>
          <div class="pt-0 mt-3">
          </div> <!-- .col-md-8 -->


          <div class="col-lg-4 sidebar ftco-animate">
            <div class="sidebar-box">
              <form action="#" class="search-form">
                <div class="form-group">
                  <span class="icon icon-search"></span>
                  <input type="text" class="form-control" placeholder="шукати...">
                </div>
              </form>
            </div>
            <div class="sidebar-box ftco-animate">
            	<h3>Рубріки</h3>
              <ul class="categories">
{% for rubric in rubrics %}
                <li><a href="/rubric/{{ rubric.pk }}">{{ rubric.name }} <span>{{ rubric.article__count }}</span></a></li>
{% endfor %}

              </ul>
            </div>

            <div class="sidebar-box ftco-animate">
              <h3>Останні новини</h3>
{% for last3 in last_3_articles %}
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url(/media/{{ last3.image }});"></a>
                <div class="text">
                  <h3 class="heading"><a href="{% url 'article_detail' pk=last3.pk %}">{{ last3.title }}</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> {{ last3.published_date|date:"d.m.Y" }}</a></div>
                    <div><a href="#"><span class="icon-person"></span> {{ last3.author }}</a></div>
                    <!--<div><a href="#"><span class="icon-chat"></span> 19</a></div>-->
                  </div>
                </div>
              </div>
{% endfor %}

            </div>



          </div><!-- END COL -->
        </div>
			</div>
		</section>



  {% endblock %}

  {% block futer %}
  {% for last2 in last_2_articles %}
      {% include 'main/includes/base_foter_template.html' %}
  {% endfor %}
  {% endblock %}
